bidict==0.22.0
gym==0.21.0
imageio==2.22.0
matplotlib
numpy
pygame==2.1.2
scikit-learn
scipy
seaborn
stable-baselines3
tensorflow
jupyterlab
pyscreenshot
PyYAML
tqdm
hdf5storage
scikit-commpy==0.6.0
sionna==0.11.0