bidict==0.22.0
gym==0.21.0
imageio==2.22.0
matplotlib==3.6.0
numpy==1.23.3
pygame==2.1.2
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
stable-baselines3==1.6.0
tensorflow==2.8.0
jupyterlab==3.4.7
pyscreenshot==3.0
PyYAML==6.0
tqdm==4.64.1
hdf5storage==0.1.18
scikit-commpy==0.6.0
sionna==0.11.0