[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==20.8b1"
isort = "*"
flake8 = "*"
pre-commit = "*"
numpy = "*"
gym = "*"
tqdm = "*"
matplotlib = "*"
stable-baselines3 = "*"
tensorboard = "*"
click = "==8.0.4"
pyright = "*"

[dev-packages]

[requires]
python_version = "3.7"
